*{
	padding:0;
	margin:0;
}




body{
background-image:url(../imagenes/bedidas.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-attachment:fixed;
}


nav ul{
	background-color:#63B4B8;
	width:100%;
	list-style-type:none;
	text-align:center;
	position:fixed;
	z-index:1000;
	top:70px;
	
}



nav li{
	display:inline-flex;
	background-attachment:fixed;
}

nav a{
	text-decoration:none;
	color:white;
	padding:10px;
	width:150px;
	font-size:20px;
}	

nav li:hover{
	background-color:#DD4A48;
}

h1{
	text-align:center;
	background-color:#DD4A48;
	color:white;
	padding:20px;
	position:fixed;
	z-index:1000;
	top:0;
	width:100%;
	
}



h2{
	text-align: center;

}

h3{
	font-size:25px;
	color:#630000;
}


img{
	width:100%;
}


/*..............card..................*/

.card{
	width:330px;
	height:300px;
	border-radius:8px;
	box-shadow:0 2px 2px #FC4919;
	overflow:hidden;
	text-align:center;
	transition:all 0.25s;
	display:flex;
	margin:20px;
	background-color:#F9ECE7;
	flex-direction:column;
}

.cardA{
	width:330px;
	height:300px;
	border-radius: 8px;
	box-shadow:0 2px 2px #FC4919;
	overflow:hidden;
	text-align:center;
	transition:all 0.25s;
	flex-direction:column;
	display:flex;
	margin:20px;
	background-color:#F9ECE7;	
}

.cardB{
	width:330px;
	height:300px;
	border-radius: 8px;
	box-shadow:0 2px 2px #FC4919;
	overflow:hidden;
	text-align:center;
	transition:all 0.25s;
	flex-direction:column;
	display:flex;
	margin:20px;
	background-color:#F9ECE7;	
}

.cardC{
	width:330px;
	height:300px;
	border-radius: 8px;
	box-shadow:0 2px 2px #FC4919;
	overflow:hidden;
	transition:all 0.25s;
	text-align: center;
	flex-direction:column;
	display:flex;
	margin: 0px auto;
	background-color:#F9ECE7;	
}

.cardD{
	width:330px;
	height:300px;
	border-radius: 8px;
	box-shadow:0 2px 2px #FC4919;
	overflow:hidden;
	text-align:center;
	transition:all 0.25s;
	flex-direction:column;
	display:flex;
	margin:20px;
	background-color:#F9ECE7;	
}

/*................................*/


.card1{
	width:330px;
	height:300px;
	border-radius:8px;
	box-shadow:0 2px 2px #FC4919;
	overflow:hidden;
	text-align:center;
	transition:all 0.25s;
	display:flex;
	margin:20px;
	background-color:#F9ECE7;
	flex-direction:column;
}

.cardA1{
	width:330px;
	height:300px;
	border-radius: 8px;
	box-shadow:0 2px 2px #FC4919;
	overflow:hidden;
	text-align:center;
	transition:all 0.25s;
	flex-direction:column;
	display:flex;
	margin:20px;
	background-color:#F9ECE7;	
}

.cardB1{
	width:330px;
	height:300px;
	border-radius: 8px;
	box-shadow:0 2px 2px #FC4919;
	overflow:hidden;
	text-align:center;
	transition:all 0.25s;
	flex-direction:column;
	display:flex;
	margin:20px;
	background-color:#F9ECE7;	
}

.cardC1{
	width:330px;
	height:300px;
	border-radius: 8px;
	box-shadow:0 2px 2px #FC4919;
	overflow:hidden;
	transition:all 0.25s;
	text-align: center;
	flex-direction:column;
	display:flex;
	margin: 0px auto;
	background-color:#F9ECE7;	
}

.cardD1{
	width:330px;
	height:300px;
	border-radius: 8px;
	box-shadow:0 2px 2px #FC4919;
	overflow:hidden;
	text-align:center;
	transition:all 0.25s;
	flex-direction:column;
	display:flex;
	margin:20px;
	background-color:#F9ECE7;	
}

.cardE1{
	width:330px;
	height:300px;
	border-radius: 8px;
	box-shadow:0 2px 2px #FC4919;
	overflow:hidden;
	text-align:center;
	transition:all 0.25s;
	flex-direction:column;
	display:flex;
	margin:20px;
	background-color:#F9ECE7;	
}


/*..............hover..................*/



.card:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 16px #FC4919;
}

.cardA:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 16px #FC4919;
}

.cardB:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 16px #FC4919;
}

.cardC:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 16px #FC4919;
}

.cardD:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 16px #FC4919;
}

/*................................*/



.card1:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 16px #FC4919;
}

.cardA1:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 16px #FC4919;
}

.cardB1:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 16px #FC4919;
}

.cardC1:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 16px #FC4919;
}

.cardD1:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 16px #FC4919;
}

.cardE1:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 16px #FC4919;
}


/*..............img...................*/

.card img{
	width:330px;
	height:220px;
}

.cardA img{
	width:330px;
	height:220px;
}

.cardB img{
	width:330px;
	height:220px;
}

.cardC img{
	width:330px;
	height:220px;
}


.cardD img{
	width:330px;
	height:220px;
}

/*...............................*/

.card1 img{
	width:330px;
	height:220px;
}

.cardA1 img{
	width:330px;
	height:220px;
}

.cardB1 img{
	width:330px;
	height:220px;
}

.cardC1 img{
	width:330px;
	height:220px;
}


.cardD1 img{
	width:330px;
	height:220px;
}

.cardE1 img{
	width:330px;
	height:220px;
}


/*...............................*/

.bebidas{
	color:white;
	margin:20px;
	top:150px;
	position:relative;
	font-size:40px;
}



.card,.cardA, .cardB{
	display:inline-flex;
	margin:25px;
	position:relative;
	left:100px;
	top:200px;

}

.cardC, .cardD, .card1{
	display:inline-flex;
	margin:25px;
	position:relative;
	left:100px;
	top:250px;
}

.cardA1, .cardB1, .cardC1{
	display:inline-flex;
	margin:25px;
	position:relative;
	left:100px;
	top:300px;

}

.cardD1, .cardE1{
	display:inline-flex;
	margin:25px;
	position:relative;
	left:100px;
	top:350px;

}


.card h3{
	font-weight:600;
}


p{
	font-size:20px;

}














